body
{
    margin:0px;
    padding: 0px;
    background-image: url("../images/wp4.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.heading{
    width:100%;
    background-color: rgba(0,0,0,0.6);
}
.heading>.h
{
    text-align: center;
    padding: 20% 10px;
    color: #fff;
    font-size: 60px;

}

.sec
{
    width: 100%;
    font-size: 1.2em;
    text-align: justify;
}

.bgw{
    background-color: #fff;
}

.txt{
    padding: 15px;
}

.footer
{
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;

}

.social{
    margin: auto;
}

.fa-instagram,.fa-facebook-square{
    font-size: 2em;
    transition: all 0.2s ease-in-out;
    color: #ccc;
}

.item:hover>.fa-instagram.gradient,
a:hover .fa-instagram {
    background-image: linear-gradient(45deg, #fccc63, #ff5549, #cf3e65);
    background-size: 100%;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.item:hover>.fa-facebook-square,
a:hover .fa-facebook-square {
    color: #3b5998;
}

@media screen and (min-width: 768px)
{
    .heading>.h
    {
        padding: 15% 200px;
        font-size: 5rem;
    }

    .txt{
        padding: 50px;
    }
}