body
{
    margin:0px;
    padding: 0px;
    background-image: url("../images/2114.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width:100%;
    background-color: rgba(256,256,256,0.2);
    text-align: center;
}

.h
{
    text-align: center;
    padding: 0 10px 100px;
    color: #fff;
    font-size: 50px;
}

.logo{
    width:100%;
}

.sec
{
    width: 100%;
    font-size: 1.2em;
    text-align: justify;
}

.bgw{
    background-color: #fff;
    border: #ccc 1px solid;
    border-radius: 5px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 20px -2px #000;

}

.bgw>h3{
    text-align: center;
}

.glide-box{
    width:100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.glide__slide>img{
    width: 100%;
}



.glide__arrow{
    border-radius: 50px !important;
    background-color: rgba(50, 50, 50, 0.2) !important;
}


.txt{
    padding: 15px;
}

.grid-container{
  display: grid;
  /* grid-template-columns: repeat(2,1fr);
  grid-auto-rows: minmax(200px,auto); */
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.grid-item{
  text-align: center;
}

.grid-item>div{
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px;
}

.grid-item>div>span{
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  margin:auto;
  text-shadow: 0 0 20px black;
}

@media screen and (max-width: 768px)
{
    .glide__arrows{
        display: none;
    }
    .small{
        width: 100%;
    }
    .bgw{
        padding: 10px;
    }
    .grid-item{
      grid-column: span 12;
    }
}

@media screen and (min-width: 768px)
{
    .small{
        width: 500px;
    }
    .h
    {
        padding: 0 200px 200px;
        font-size: 4rem;
    }

    .logo{
        width:700px;
    }

    .bgw{
        width: 50%;
        margin: 0 auto 100px auto;
        padding:50px 150px;
    }

    .grid-item{
      grid-column: span 6;
    }

    .txt{
        padding: 50px;
    }

    .glide-contain{
        width: 80%;
        margin: auto;
    }

    .glide__arrows>button>span{
        font-size: 40px;
    }
}
